html
{margin:0px;
	padding: 0px;
}
a
{
	text-decoration: none;
}
body{
	margin: 0;
    padding: 0;
    outline: none !important;
    text-decoration: none !important;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f8fb;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
	font-family: 'Poppins', sans-serif;
	font-size: 14px !important;
}

/*start css for register page*/
.register-page,.reset-page,.login-page
{
	margin-top:80px;
	margin-bottom: 80px;
}
.bg-soft {
    background-color: rgb(42 120 129)!important;
}
input{
	font-size: 13px !important;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #f6f6f6;
    border-radius: .25rem;
}
.card {
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
    box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
}

.profile-user-wid {
    margin-top: -16px;
}

.account-text{
     color: #f9fafb !important;
	margin-top: 25px;
}
